<mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Nro de Pedido</mat-label>
    <input matInput type="text" [(ngModel)]="nro_pedido">
    <button *ngIf="nro_pedido" matSuffix mat-icon-button aria-label="Clear" (click)="nro_pedido=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tipo de Fechas</mat-label>
    <mat-select [(ngModel)]="filterDate" >
      <mat-option *ngFor="let item of type_date" [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  
    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  </mat-form-field>

  <button matSuffix mat-icon-button aria-label="Clear" (click)="filter()">
    <mat-icon>search</mat-icon>
  </button>


  <button matSuffix mat-icon-button aria-label="Clear" (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
  

<table class="table">
    <thead>
      <tr>
        <th>Número de Pedido</th>
        <th>Fecha de Pedido</th>
        <th>Fecha de Recepción</th>
        <th>Fecha de Despacho</th>
        <th>Fecha de Entrega</th>
        <th>Vendedor Solicitante</th>
        <th>Repartidor</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidos">
        <td>{{ pedido.numero_pedido }}</td>
        <!-- <td>
          <ul>
            <li *ngFor="let sku of pedido.lista_productos">{{ sku }}</li>
          </ul>
        </td> -->
        <td>{{ pedido.fecha_pedido | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>{{ pedido.fecha_recepcion | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>{{ pedido.fecha_despacho | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>{{ pedido.fecha_entrega | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>{{ pedido.vendedor_solicitante }}</td>
        <td>{{ pedido.repartidor }}</td>
        <td>{{ pedido.estado }}</td>
        <td>
          <button (click)="getDetail(pedido)">Detalle</button>
        </td>
      </tr>
    </tbody>
  </table>
